<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>aliyun.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2DEFD251FA0A53000B9D327</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2DEFD3E1FA0A53000B9D327</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2DEFD491FA0A53000B9D327</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
